<div class="container" style="margin-top:100px">
    <div class="row">
        <form action="/admin/login" method="post">
            <div class="mb-3 row">
                <input type="text" class="form-control" id="inputUser" placeholder="Usuario" name="usuario">
            </div>

            <div class="mb-3 row">
                <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña" name="password">
            </div>
            <button type="submit" class="btn btn-primary" style="margin-bottom: 50px">Ingresar</button>
        </form>
        {{#if error}}
        <p>Usuario y/o contraseña incorrectos</p>
        {{/if}}
    </div>
</div>