
.columnas {
    display: flex;
    padding-top: 20px;
    }
    
    .Hola {
        width: 60%;
        padding-right: 10px;
    }
    
    .Hola p {
        margin-top: 10px;
        text-align: justify;
    }
    
    .imgcontainer {
        width: 40%;
        padding-left: 10px;
    }

/* Media Queries */
@media screen and (max-width: 800px) {
    
  .Hola {
    width: 100%;
    padding: 0;
  }

  .imgcontainer {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}